table,
th,
td {
    border: 1px solid black;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.rosa {
    background-color: pink;
}

.marron {
    background-color: brown;
}

.naranja {
    background-color: orange;
}